@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scrollbar-thin {
        scrollbar-width: thin;
    }

    .display-none {
        display: none;
    }

    .text-2xs {
        font-size: 0.6rem;
        line-height: 0.8rem;
    }
}
